.card-container {
  font-family: 'PT Mono', sans-serif;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  width: 382px;
  height: 241px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-top,
.card-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-logo img {
  height: 40px;
}

.card-number {
  font-size: 29px;
  letter-spacing: 2px;
  margin: 20px 0;
  color: #333;
  text-align: center;
}

.card-holder-name-text-container {
  font-size: 14px;
}

.card-holder-date-text {
  font-size: 14px;
}

.card-holder-name {
  font-size: 18px;
  color: #555;
}

.main_grey {
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
}

.bitcoin_orange {
  background: linear-gradient(145deg, #ffffff, #ffae34);
}
.ninja_black {
  background: linear-gradient(145deg, #ffffff, #222222);
}
.block_purple {
  background: linear-gradient(145deg, #ffffff, #8b58f9);
}
.evil_red {
  background: linear-gradient(145deg, #ffffff, #f33355);
}

.wifi-and-chip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

